body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.action {
  cursor: pointer;
}
.text-shadow{
  text-shadow: 1px 1px black;
}

@media only screen and (max-width: 600px){
  .form-inline{
    display: block;
  }}

  .form-group{
    opacity: 70%;
  }
  .opacity{
    opacity: 70%;
  }
header{
  font-family: 'Monoton', cursive;
}

.bg-cadet-blue{
  background-color: cadetblue;
}
.action{
  opacity: .8;
  transition: .3s;
}
.action:hover{
  opacity: 1;
  text-shadow: .25px .25px darkslategrey;
}